* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Referred to the header by its tag, as opposed to it's class (deleted the div tag with header class from HTML file) */
header { 
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

 /*rddasdasdeferencing this by the header tag instead of the class*/
header h1 {
    display: inline-block;
    font-size: 48px;    
}

/*added dasdas this header a declaration so that the logo doesnt appear as a link, but still functions as one*/
header a {
    text-decoration: none;
    color: #ffffff
}

/* Deleted the div tag after h1 tag (on HTML file) and replaced it with nav tag, now being reference below */
/*also adjusted the font size to 26px*/
/*adjusted the margin right element to be 35px*/
/*consolidated font size and font family within font propery*/
header nav {
    padding-top: 15px;
    margin-right: 35px;
    float: right;
    font: 26px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Referencing this by the header/nav tags instead of the class*/
header nav ul {
    list-style-type: none;
}

/*Referencing this by the header/nav tags instead of the class*/
/*adjusted the margin left propery to be 50px*/ 
header nav ul li {
    display: inline-block;
    margin-left: 50px;
}

/*referencing the header/nav tags instead of the class*/
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/*adjusted the height propery to 1060px so full image is shown, like in the mock. Also referred to this by class. which is now in a section tag*/
.hero {
    height: 1060px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*referencing this by class within section tag*/
/*also adjusted this and the rest of the selectors so that it can be in order (with HTML file)*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*added this so i can reference the p by its class*/
/*created this class for the p tag within content section so i can distinguish between the exact divs*/
/*consolidated the padding here*/
.padding-right {
    font-size: 20px;
    padding: 15px 150px 0 0;
}

/*created this class for the p tag within content section so i can distinguish between the exact divs*/
/*consolidated the padding here*/
.padding-left {
    font-size: 20px;
    padding: 15px 30px 0 0;
}

/*changed the height to be 350px*/
/*adjusted the .search-engine-optimization class to be below the content class (so in order)*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*changed the max height to be 240px*/
/*added the float/margin-right here so we dont have to reference by the float left class on html file*/
.search-engine-optimization img {
    max-height: 240px;
    float: left;
    margin-right: 25px;
}

/*adjusted the font-size to match the mock*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

/*changed the height to be 350px*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*changed the max height to be 240px*/
/*added the float/margin-right here so we dont have to reference by the float right class on html file*/
.online-reputation-management img {
    max-height: 240px;
    float: right;
    margin-left: 25px
}

/*adjusted the font-size to match the mock*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

/*changed the height to be 350px*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*changed the max height to be 240px*/
/*added the float/margin-right here so we dont have to reference by the float left class on html file*/
.social-media-marketing img {
    max-height: 240px;
    float: left;
    margin-right: 25px;
}

/*adjusted the font-size to match the mock*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

/*Changed the padding propery to be 40px*/
.benefits {
    margin-right: 20px;
    padding: 40px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*added this element so i can reference the p tag by the benefits class*/
.benefits p {
    font-size: 20px
}

/*updated the margin-bottom propery to equal 52px*/
/*displaying all the .benefit-lead selectors together, in order*/
.benefit-lead {
    margin-bottom: 52px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*updated the margin-bottom propery to equal 52px*/
/*displaying all the .benefit-brand selectors together, in order*/
.benefit-brand {
    margin-bottom: 52px;
    color: #ffffff;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*updated the margin-bottom propery to equal 52px*/
/*displaying all the .benefit-cost selectors together, in order*/
.benefit-cost {
    margin-bottom: 52px;
    color: #ffffff;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*calling footer by its tag, instead of it's class*/
footer {
    padding: 20px;
    clear: both;
}