* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Referred to the header by its tag, as opposed to it's class (deleted the div tag with header class from HTML file */
header { 
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;    
}

/*added this header a declaration so that the logo doesnt appear as a link*/
header a {
    text-decoration: none;
    color: #ffffff
}

/* Deleted the div tag after h1 tag (on HTML file) and replaced it with nav tag, now being reference below */
/*also adjusted the font size to 26px*/
/*adjusted the margin right elemet to be 35px*/
header nav {
    padding-top: 15px;
    margin-right: 35px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}

header nav ul {
    list-style-type: none;
}

/*adjusted the margin left propery to be 50px*/ 
header nav ul li {
    display: inline-block;
    margin-left: 50px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/*adjusted the height propery to 1060px so full image is shown, like in the mock. Also referred to this by class. which is now in a section tag*/
.hero {
    height: 1060px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*added this so i can reference the p by its class*/
.content p {
    font-size: 20px;
    padding: 20px;
    
}


/*Changed the padding propery to be 40px*/
.benefits {
    margin-right: 20px;
    padding: 40px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*updated the margin-bottom propery to equal 52px*/
.benefit-lead {
    margin-bottom: 52px;
    color: #ffffff;
}

/*updated the margin-bottom propery to equal 52px*/
.benefit-brand {
    margin-bottom: 52px;
    color: #ffffff;
}

/*updated the margin-bottom propery to equal 52px*/
.benefit-cost {
    margin-bottom: 52px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*added this element so i can reference the p tag by the benefits class*/
.benefits p {
    font-size: 20px
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*changed the height to be 350px*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*changed the height to be 350px*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*changed the height to be 350px*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*changed the max height to be 240px*/
.search-engine-optimization img {
    max-height: 240px;
}

/*changed the max height to be 240px*/
.online-reputation-management img {
    max-height: 240px;
}

/*changed the max height to be 240px*/
.social-media-marketing img {
    max-height: 240px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*calling footer by its tag, instead of it's class*/
footer {
    padding: 20px;
    clear: both;
}